<div class="footer">

    <div class="social-media d-flex d-md-none">
        <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                src="../../assets/img/instagram.svg"
                alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="../../assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <ul class="pages flex-column flex-md-row">
        <li><a href="/aboutus.html" class="page-items">Hakkımızda</a></li>
        <li><a href="/projects.html" class="page-items">Projlerimiz</a></li>
        <li><a href="/communication.html" class="page-items">İletişim</a></li>
        <li><a href="../../assets/presentation/codeck-sunum.pdf" target="_blank" class="page-items">Şirket Sunumu</a>
        </li>
    </ul>
    <div class="social-media d-none d-md-flex">
        <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                src="../../assets/img/instagram.svg"
                alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="../../assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

</div>
