<div class="footer wow fadeIn" data-wow-delay="0.9s">

    <div class="social-media d-flex d-md-none">
        <a href="" class="linkimages"><img src="assets/img/svg/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                src="assets/img/svg/instagram.svg"
                alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="assets/img/svg/linkedin.svg" alt=""></a>
    </div>
    <ul class="pages flex-column flex-md-row">
        <li><a href="/aboutus.html" class="page-items">{{ partials.footer.tr.about_us }}</a></li>
        <li><a href="/projects.html" class="page-items">{{ partials.footer.tr.our_projects }}</a></li>
        <li><a href="/contact.html" class="page-items">{{ aboutus.tr.contact }}</a></li>
        <li><a href="../../assets/presentation/codeck-sunum.pdf" target="_blank" class="page-items">{{ partials.footer.tr.company_presentation }}</a>
        </li>
    </ul>
    <div class="social-media d-none d-md-flex">
        <a href="https://www.youtube.com/channel/UCrlUXDo6tsaJBvljWgBFuYg" class="linkimages">
            <img src="assets/img/svg/youtube.svg" alt="">
        </a>
        <a href="https://www.facebook.com/Codeck-109192994062400/" class="linkimages">
            <img src="assets/img/svg/facebook.svg" alt="">
        </a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages">
            <img src="assets/img/svg/instagram.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages">
            <img src="assets/img/svg/linkedin.svg" alt="">
        </a>
    </div>
    <div class="privacy">© 2020 Codeck Yazılım{{ partials.footer.tr.privacy }}</div>

</div>
