<div class="fullMenu">
    <div class="menu-button"><button class="wow fadeInDown menu-close" data-wow-delay="0.3s"></button></div>
    <div class="menuItems">
        <span class="wow fadeInDown" data-wow-delay="0.2s"><a href="/index.html">Ana Sayfa</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.3s"><a href="/aboutus.html">Hakkımızda</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.4s"><a href="/projects.html">Projeler</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.5s"><a href="/communication.html">İletişim</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.6s"><a href="/assets/presentation/codeck-sunum.pdf" target="_blank">Şirket Sunumumuz</a></span>
    </div>
    <div class="bottomBar">
        <span>İletişim: <a href="tel:05445651885">0 (544) 565 18 85</a></span>
        <span>© 2020 <b>Codeck</b> Tüm Hakları Saklıdır</span>
        <span class="socials">
                <a href="https://www.facebook.com/Codeck-109192994062400/">Facebook</a>
                <a href="https://www.linkedin.com/company/codeck/">Linkedin</a>
                <a href="https://www.instagram.com/codeckistanbul/">Instagram</a>
        </span>
    </div>
</div>
