<div class="fullMenu" id="gotop">
    <div class="menu-button"><button class="wow fadeInDown menu-close" data-wow-delay="0.3s"></button></div>
    <div class="menuItems">
        <span class="wow fadeInDown" data-wow-delay="0.2s"><a href="/index.html">{{ partials.menu.tr.home_page }}</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.3s"><a href="/aboutus.html">{{ partials.footer.tr.about_us }}</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.4s"><a href="/projects.html">{{ partials.footer.tr.our_projects }}</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.5s"><a href="/communication.html">{{ aboutus.tr.contact }}</a></span>
        <span class="wow fadeInDown" data-wow-delay="0.6s"><a href="/assets/presentation/codeck-sunum.pdf" target="_blank">{{ partials.footer.tr.company_presentation }}</a></span>
    </div>
    <div class="bottomBar">
        <span>{{ partials.footer.tr.communication}}<a href="tel:+905445651885">0 (544) 565 18 85</a></span>
        <span>© 2020 <b>Codeck</b> {{ partials.footer.tr.privacy }}</span>
        <span class="socials">
                <a href="https://www.facebook.com/Codeck-109192994062400/">{{ partials.footer.tr.our_facebook }}</a>
                <a href="https://www.linkedin.com/company/codeck/">{{ partials.footer.tr.linked_in }}</a>
                <a href="https://www.instagram.com/codeckistanbul/">{{ partials.footer.tr.instagram }}</a>
                <a href="https://www.youtube.com/channel/UCrlUXDo6tsaJBvljWgBFuYg">{{ partials.footer.tr.youtube }}</a>
        </span>
    </div>
</div>
