<nav id="nav-norm" class="row d-flex justify-content-between">
    <div class="col-4 d-flex justify-content-start wow fadeInDown align-items-center">
        <a href="/index.html"><img id="codeckimg" src="assets/img/brands/codeck.svg" alt=""></a>
    </div>
    <div class="links col-8 d-sm-none d-md-flex d-none d-sm-fle justify-content-end">
        <a class="wow fadeInRight" data-wow-delay="0.6s" href="/index.html">{{ partials.menu.tr.home_page }}</a>
        <a class="wow fadeInRight" data-wow-delay="0.5s" href="/aboutus.html">{{ partials.footer.tr.about_us }}</a>
        <a class="wow fadeInRight" data-wow-delay="0.4s" href="/projects.html">{{ partials.footer.tr.our_projects }}</a>
        <a class="wow fadeInRight" data-wow-delay="0.3s" href="/communication.html">{{ aboutus.tr.contact }}</a>
        <a class="wow fadeInRight" data-wow-delay="0.2s" href="/assets/presentation/codeck-sunum.pdf" target="_blank">{{ partials.footer.tr.company_presentation }}</a>
    </div>
    <a href="#" class="d-flex d-md-none flex-column align-items-end justify-content-center" id="menuActive"
       class="col-2 col-md-2 d-flex flex-column justify-content-center align-items-end">
        <span class="wow fadeInDown hamburger-menu" data-wow-delay="0.2s"></span>
        <span class="wow fadeInDown hamburger-menu mt-1" data-wow-delay="0.3s" id="hamburgerMenu"></span>
    </a>
</nav>
