<nav id="nav-norm" class="row d-flex justify-content-between">
    <div class="col-4 d-flex justify-content-start align-items-center">
        <a href="/index.html"><img class="codeckimg" src="assets/img/brands/codeck.svg" alt="codeck yazılım"></a>
        <div class="social-media">
            <a href="https://www.youtube.com/channel/UCrlUXDo6tsaJBvljWgBFuYg" title="Youtube Hesabımız">
                <img class="codeckimg" src="assets/img/svg/youtube-color.svg"
                     alt="codeck yazılım youtube">
            </a>
            <a href="https://www.facebook.com/Codeck-109192994062400/" title="Facebook Sayfamız">
                <img class="codeckimg" src="assets/img/svg/facebook-color.svg" alt="codeck yazılım facebook"></a>
            <a href="https://www.instagram.com/codeckistanbul" title="Instagram Hesabımız">
                <img class="codeckimg" src="assets/img/svg/instagram-color.svg" alt="codeck yazılım instagram">
            </a>
            <a href="https://www.linkedin.com/company/codeck/about" title="Linkedin Şirket Sayfamız">
                <img class="codeckimg" src="assets/img/svg/linkedin-color.svg" alt="codeck yazılım linkedin">
            </a>
        </div>

    </div>
    <div class="links col-8 d-sm-none d-md-flex d-none d-sm-fle justify-content-end">
        <a href="/index.html" title="Codeck Yazılım">{{ partials.menu.tr.home_page }}</a>
        <a href="/aboutus.html" title="Codeck Yazılım Hakkında">{{ partials.footer.tr.about_us }}</a>
        <a href="/projects.html" title="Codeck Yazılım Projeler">{{ partials.footer.tr.our_projects }}</a>
        <a href="/contact.html" title="Codeck Yazılım İletişim">{{ aboutus.tr.contact }}</a>
    </div>
    <a href="#" class="d-flex d-md-none flex-column align-items-end justify-content-center" id="menuActive">
        <span class="wow fadeInDown hamburger-menu" data-wow-delay="0.2s"></span>
        <span class="wow fadeInDown hamburger-menu mt-1" data-wow-delay="0.3s" id="hamburgerMenu"></span>
    </a>
</nav>
