<nav id="nav-norm" class="d-flex">
    <div class="col-10 col-md-10 col-lg-10 d-md-block d-flex justify-content-start wow fadeInDown pl-0 pr-0">
        <a href="/index.html"><img id="codeckimg" src="assets/img/brands/codeck.svg" alt=""></a>
    </div>
    <a href="#" id="menuActive"
       class="col-2 col-md-2 d-flex flex-column justify-content-center align-items-end">
        <span class="wow fadeInDown hamburger-menu" data-wow-delay="0.2s"></span>
        <span class="wow fadeInDown hamburger-menu mt-1" data-wow-delay="0.3s" id="hamburgerMenu"></span>
    </a>
</nav>