{% extends "layouts/layout.index.html" %}
{% block content %}


<div id="loader">
    <img class="loader-img" src="assets/img/ezgif-3-c10ad3de5c54.gif"/>
</div>
<div class="container-fluid" id="mainContent">
    <div class="row" id="mainContentinner">
        <div class="col-12 col-md-10 col-lg-10 d-md-block d-flex justify-content-center  ">
            <img id="codeckimg" src="assets/img/codeck.svg" alt="">
        </div>
        <a href="" class="col-12 col-md-2 d-flex flex-column justify-content-center justify-content-md-end align-items-end">
            <span class="hamburger-menu"></span>
            <span class="hamburger-menu mt-1" id="hamburgerMenu"></span>
        </a>
    </div>
    <div class="row" id="titleMain">
        <div class="title-text col-12 col-md-6 ">
            <h4 class="headTextTitle">Biz Kimiz?</h4>
            <p class="headText" id="headTextSpecial" style="">Hayalleri tasarlayan, Web teknolojileri geliştiren, Heyecan dolu <br><span class="headTextSpan">Bir ekibiz!</span>
            </p>
        </div>
        <p class="headTextRight">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>

    </div>
    <div class="row" id="redRow">
        <div class="col-12" id="redRowitems">
            <a href="" target="_blank" id="button">
                <div class="button-inner">
                    <img class="button-img" src="assets/img/left-arrow.svg" alt="">
                </div>
            </a>
            <div class="main d-none d-lg-block ">
                <p class="comInfo">DAHA FAZLA BİLGİ</p>
                <div class="stick"></div>
            </div>
        </div>
        <div class="container-fluid" id="bottomColor"></div>
        <img id="boyImage" src="assets/img/boyimg2.png" alt=""></div>

</div>
<div class="logo-content container-fluid flex-column flex-md-row">
    <div class="text-block col-12 col-md-4 d-flex flex-column">
        <h4>Müşterilerimiz</h4>
        <p class="headText">Birlikte çalışmaktan onur ve mutluluk duyduğumuz müşterilerimiz.</p></div>
    <div class="main-logo-block-mb ">
        <img class="col-12 d-block d-md-none" src="assets/img/medya.svg" alt="">
    </div>
    <div class="main-logo-block col-8 d-none d-md-block">
        <div class="logo-block row ">
            <img class="col-3" src="assets/img/medya.svg" alt="">
            <img class="col-3" src="assets/img/hamidiye.svg" alt="">
            <img class="col-3" src="assets/img/amvg.svg" alt="">
            <img class="col-3" src="assets/img/podbia.svg" alt="">

        </div>
        <div class="logo-block2 row">
            <img class="col-3" src="assets/img/bmsumer.svg" alt="">
            <img class="col-3" src="assets/img/ahtapot.svg" alt="">
            <img class="col-3" src="assets/img/pryapim.svg" alt="">
            <img class="col-3" src="assets/img/kafeinbox.svg" alt="">
        </div>
    </div>
</div>

<div class="digital-experience">
    <div class="text-block2">
        <h4 class="digital-title" >Dijital Deneyim</h4>
        <p class="headText" id="digital-title2">Son teknoloji ve tasarım yaklaşımlarını kullanan yenilikçi ekibimizle sunduğumuz hizmetler.</p>
    </div>
    <div class="imagesMain d-flex flex-column flex-md-row">
        <div class="imageandtext col-12 col-md-3">
            <img class="digital-images" src="assets/img/image1@2x.png" alt="">
            <p class="digital-text">Web ve Mobil Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img class="digital-images" src="assets/img/image2@2x.png" alt="">
            <p class="digital-text">Backend Geliştirme Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img class="digital-images" src="assets/img/image3@2x.png" alt="">
            <p class="digital-text">Grafik Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img  class="digital-images" src="assets/img/image4@2x.png" alt="">
            <p class="digital-text">Sunucu Yönetimi ve Bakım Hizmetleri</p>
        </div>
    </div>
</div>
<div class="ourCrew">
    <div class="text-area">
        <h4 class="crew-title">Ekibimiz</h4>
        <p class="crew-text">Dijital dünyamızı daha yaşanabilir hale getirmek için yarışan ekibimiz;</p></div>
    <div class="staff-md col-12 d-flex d-md-none">
        <img class="images" src="assets/img/Cagdas@2x.png" alt="">
        <img class="images" src="assets/img/Melek@2x.png" alt="">
        <img class="images" src="assets/img/Samed@2x.png" alt="">
    </div>
    <div class="staff col-8 d-none d-md-flex">
        <img class="images" src="assets/img/Cagdas@2x.png" alt="">
        <img class="images" src="assets/img/Melek@2x.png" alt="">
        <img class="images" src="assets/img/Samed@2x.png" alt="">
    </div>
</div>
<div class="bottomBlock">
    <p class="bottomText"><span class="bottomRed">Çekinme!</span> Bir şeyler sormak</p>
    <p class="bottomText secondPart">istersen eğer</p>
    <a href="" class="bottomTextLink">Bize buradan ulaşabilirsin
        <img src="assets/img/arrow-right.svg" alt=""></a>
</div>
<div class="footer">

    <ul class="pages">
        <li><a href="" class="page-items">Hakkımızda</a></li>
        <li><a href="" class="page-items">Projlerimiz</a></li>
        <li><a href="" class="page-items">İletişim</a></li>
        <li><a href="" class="page-items">Blog</a></li>
    </ul>

    <div class="social-media">
        <a href="" class="linkimages"><img src="assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img src="assets/img/instagram.svg" alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img src="assets/img/linkedin.svg" alt=""></a>
    </div>
    <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

</div>





{% endblock %}
