{% extends "layouts/layout.index.html" %}
{% block content %}



<div id="loader">
    <img class="loader-img" src="../assets/img/ezgif-3-c10ad3de5c54.gif"/>
</div>
<div class="container-fluid" id="mainContent">
    <div class="row" id="mainContentinner">
        <div class="col-12 col-md-10 col-lg-10 d-md-block d-flex justify-content-center  ">
            <img id="codeckimg" src="../assets/img/codeck.svg" alt="">
        </div>
        <div class="col-12 col-md-2 col-lg-2 d-flex justify-content-center justify-content-md-end ">

            <a target="_blank" href="" style="display:none;"><img class="mediaIcons" src="../assets/img/facebook.svg" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/codeckistanbul/"><img class="mediaIcons" src="../assets/img/instagram.svg" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/company/codeck/about/"><img class="mediaIcons" src="../assets/img/linkedin.svg" alt=""></a>
        </div>
    </div>
    <div class="row" id="titleMain">
        <div class="title-text col-12 col-md-12 text-center text-md-left d-flex flex-row justify-content-center d-md-block">
            <p id="textitem1" style="">Çalışıyoruz,</p><p class="d-md-none d-block" id="textitem3">Hazırlanıyoruz,</p>
        </div>
        <div class="title-text col-12 col-md-12 text-center text-lg-left d-flex flex-column flex-md-row" style="">
            <p class="d-none d-md-block">Hazırlanıyoruz,</p> <span id="title-text-span">En İyisi İle</span><p id="textitem2">Döneceğiz.</p>
        </div>
    </div>
    <div class="row" id="redRow">
        <div class="col-12" id="redRowitems">
            <a href="../assets/sunum/codeck-sunum.pdf" target="_blank" id="button">
                <div class="button-inner">
                    <img class="button-img" src="../assets/img/left-arrow.svg" alt="">
                </div>
            </a>
            <div class="main d-none d-lg-block ">
                <p class="comInfo">DAHA FAZLA BİLGİ</p>
                <div class="stick"></div>
            </div>
        </div>
        <div class="container-fluid" id="bottomColor"></div>
        <img id="boyImage" src="../assets/img/boyimg2.png" alt=""></div>

</div>
<div class="logo-content container-fluid">
    <div class="text-block col-4 d-flex flex-column">
        <h4>Müşterilerimiz</h4>
        <p class="text">Birlikte çalışmaktan onur ve mutluluk duyduğumuz müşterilerimiz.</p></div>
    <div class="main-logo-block col-8">
        <div class="logo-block row ">
            <img class="col-3" src="../assets/img/medya.svg" alt="">
            <img class="col-3" src="../assets/img/hamidiye.svg" alt="">
            <img class="col-3" src="../assets/img/amvg.svg" alt="">
            <img class="col-3" src="../assets/img/podbia.svg" alt="">

        </div>
        <div class="logo-block2 row">
            <img class="col-3" src="../assets/img/bmsumer.svg" alt="">
            <img class="col-3" src="../assets/img/ahtapot.svg" alt="">
            <img class="col-3" src="../assets/img/pryapim.svg" alt="">
            <img class="col-3" src="../assets/img/kafeinbox.svg" alt="">
        </div>
    </div>
</div>

<div class="digital-experience">
    <div class="text-block2">
        <h4 class="digital-title" >Dijital Deneyim</h4>
        <p class="digital-title2">Son teknoloji ve tasarım yaklaşımlarını kullanan yenilikçi ekibimizle sunduğumuz hizmetler.</p>
    </div>
    <div class="imagesMain d-flex flex-row">
        <div class="imageandtext1 col-3">
            <img class="digital-images" src="../assets/img/image1@2x.png" alt="">
            <p class="digital-text">Web ve Mobil Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext2 col-3">
            <img class="digital-images" src="../assets/img/image2@2x.png" alt="">
            <p class="digital-text">Backend Geliştirme Hizmetleri</p>
        </div>
        <div class="imageandtext3 col-3">
            <img class="digital-images" src="../assets/img/image3@2x.png" alt="">
            <p class="digital-text">Grafik Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext4 col-3">
            <img  class="digital-images" src="../assets/img/image4@2x.png" alt="">
            <p class="digital-text">Sunucu Yönetimi ve Bakım Hizmetleri</p>
        </div>
    </div>
</div>
<div class="ourCrew">
    <div class="text-area"></div>
    <div class="staff">
        <img src="../assets/img/Cagdas@2x.png" alt="">
        <img src="../assets/img/Melek@2x.png" alt="">
        <img src="../assets/img/Samed@2x.png" alt="">
    </div>
</div>

{% endblock %}