<nav class="row">
    <div class="col-10 col-md-10 col-lg-10 d-md-block d-flex justify-content-start">
        <img id="codeckimg" src="../../assets/img/codeck.svg" alt="">
    </div>
    <a href="#"
       class="col-2 col-md-2 d-flex flex-column justify-content-center justify-content-md-end align-items-end">
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu mt-1" id="hamburgerMenu"></span>
    </a>
    <div class="fullMenu">
        <div class="menuItems">
            <span><a href="#">Ana Sayfa</a></span>
            <span><a href="#">Hakkımızda</a></span>
            <span><a href="#">Projelerimiz</a></span>
            <span><a href="#">Projelerimiz</a></span>
            <span><a href="#">İletişim</a></span>
            <span><a href="#">Blog</a></span>

        </div>
        <div class="bottomBar">
            <span>İletişim: <a href="tel:05445651885">0 (544) 565 18 85</a></span>
            <span>© 2020 <b>Codeck</b> Tüm Hakları Saklıdır</span>
            <span class="socials">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Linkedin</a>
            </span>
        </div>
    </div>
</nav>
