{% extends "layouts/layout.index.html" %}
{% block content %}

<div class="container-fluid d-flex flex-column justify-content-between aboutUs-full">
    {% include 'partials/nav.html' %}
    <div class="row content mt-md-0 mt-sm-5 mt-5 wow fadeInDown d-flex">
        <div class="col-md-6 col-sm-12">
            <h4 class="title text-left wow fadeInDown" data-wow-delay="0.2s">{{ aboutus.tr.who_are_us }}</h4>
            <p class="subtitle text-left wow fadeInDown" data-wow-delay="0.1s" id="subtitleSpecial">
                {{ aboutus.tr.heading }}
            </p>
        </div>
        <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.8s">
            <p class="description">
                {{ aboutus.tr.description }}
            </p>
        </div>
    </div>
    <div class="row wow fadeInUp" id="redRow">
        <div class="col-md-12" id="redRowitems">
            <a href="assets/presentation/codeck-sunum.pdf" target="_blank" class="presentationButton wow fadeInLeft" data-wow-delay="0.9s">
                <div class="buttonCircle">
                    <img src="assets/img/icons/presentation.png" alt="">
                </div>
                <p class="buttonText">{{ aboutus.tr.inspect_presentation }}</p>
            </a>
            <div class="main d-none d-lg-block wow fadeInUp" data-wow-delay="0.1s">
                <p class="comInfo">{{ aboutus.tr.more_info }}</p>
                <div class="stick"></div>
            </div>
        </div>
        <div class="container-fluid wow fadeInUp" id="bottomColor"></div>
        <img id="boyImage" class="wow fadeInRight" src="assets/img/illustration/about-us/boyimg2.png" alt=""></div>
</div>

<div class="logo-content flex-column flex-md-row">
    <div class="text-block col-12 col-md-4 d-flex flex-column">
        <h4 class="title wow fadeInDown">{{ aboutus.tr.customers }}</h4>
        <p class="subtitle wow fadeInDown" data-wow-delay="0.2s">{{ aboutus.tr.customers_description }}</p></div>
    <div class="main-logo-block col-lg-8 col-md-8 align-content-sm-between d-md-flex col-sm-12">
        <div class="logo-block row d-md-flex d-sm-none">
            <div class="wow" data-wow-delay="0.4s"><img src="assets/img/brands/medyas.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.5s"><img src="assets/img/brands/hamidiye.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.5s"><img src="assets/img/brands/udef-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.6s"><img src="assets/img/brands/amvg.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.7s"><img src="assets/img/brands/podbia.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.8s"><img src="assets/img/brands/bmsumer.png" alt=""></div>
            <div class="wow" data-wow-delay="0.9s"><img src="assets/img/brands/akilliahtapot.svg" alt=""></div>
            <div class="wow" data-wow-delay="1.1s"><img src="assets/img/brands/us-danis-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="1s"><img src="assets/img/brands/pryapim.svg" alt=""></div>
            <div class="wow" data-wow-delay="1.1s"><img src="assets/img/brands/kafeinbox.svg" alt=""></div>
            <div class="wow" data-wow-delay="1.1s"><img src="assets/img/brands/unogo-logo.png" alt=""></div>
            <div class="wow" data-wow-delay="1.1s"><img src="assets/img/brands/dogaldede-logo.png" alt=""></div>
        </div>
        <div class="mobil-logo d-lg-none d-sm-block wow fadeInRight">
            <div><img src="assets/img/brands/medyas.svg" alt=""></div>
            <div><img src="assets/img/brands/hamidiye.svg" alt=""></div>
            <div><img src="assets/img/brands/udef-logo.svg" alt=""></div>
            <div><img src="assets/img/brands/amvg.svg" alt=""></div>
            <div><img src="assets/img/brands/podbia.svg" alt=""></div>
            <div><img src="assets/img/brands/bmsumer.png" alt=""></div>
            <div><img src="assets/img/brands/akilliahtapot.svg" alt=""></div>
            <div><img src="assets/img/brands/us-danis-logo.svg" alt=""></div>
            <div><img src="assets/img/brands/pryapim.svg" alt=""></div>
            <div><img src="assets/img/brands/kafeinbox.svg" alt=""></div>
            <div><img src="assets/img/brands/unogo-logo.png" alt=""></div>
            <div><img src="assets/img/brands/dogaldede-logo.png" alt=""></div>
        </div>
    </div>
</div>
<div class="logo-content flex-column flex-md-row">
    <div class="text-block col-12 col-md-4 d-flex flex-column">
        <h4 class="titl wow fadeInDown">{{ aboutus.tr.brands }}</h4>
        <p class="subtitle wow fadeInDown" data-wow-delay="0.2s">{{ aboutus.tr.brands_title }}</p></div>
    <div class="main-logo-block col-lg-8 col-md-8 align-content-sm-between d-md-flex col-sm-12">
        <div class="logo-block row d-md-flex d-sm-none">
            <div class="wow" data-wow-delay="0.4s"><img src="assets/img/brands/gitmeden-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.5s"><img src="assets/img/brands/podbia.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.6s"><img src="assets/img/brands/kafeinbox.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.7s"><img src="assets/img/brands/iciniz-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.8s"><img src="assets/img/brands/musavir-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="0.9s"><img src="assets/img/brands/adekstra-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="1s"><img src="assets/img/brands/coready-logo.svg" alt=""></div>
            <div class="wow" data-wow-delay="1.1s"><img src="assets/img/brands/burada-logo.svg" alt=""></div>
        </div>
        <div class="mobil-logo d-lg-none d-sm-block wow fadeInRight">
            <div><img data-skip-inject-svg src="assets/img/brands/gitmeden-logo.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/podbia.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/kafeinbox.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/iciniz-logo.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/musavir-logo.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/adekstra-logo.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/coready-logo.svg" alt=""></div>
            <div><img data-skip-inject-svg src="assets/img/brands/burada-logo.svg" alt=""></div>
        </div>
    </div>
</div>
<div class="digital-experience">
    <div class="text-block2">
        <h4 class="title text-center wow fadeInDown" data-wow-delay="0.3s">{{ aboutus.tr.digital_experience }}</h4>
        <p class="subtitle text-center wow fadeInDown" data-wow-delay="0.4s">{{ aboutus.tr.digital_experience_subtitle }}</p>
    </div>
    <div class="imagesMain d-flex flex-column flex-md-row">
        <div class="imageandtext col-12 col-md-3 wow fadeInDown" data-wow-delay="0.4s">
            <img src="assets/img/illustration/about-us/web-and-mobile.png" alt="">
            <p class="digital-text">{{ aboutus.tr.web_mobile }}</p>
        </div>
        <div class="imageandtext col-12 col-md-3 wow fadeInDown" data-wow-delay="0.5s">
            <img src="assets/img/illustration/about-us/backend.png" alt="">
            <p class="digital-text">{{ aboutus.tr.backend }}</p>
        </div>
        <div class="imageandtext col-12 col-md-3 wow fadeInDown" data-wow-delay="0.6s">
            <img src="assets/img/illustration/about-us/graphic-design.png" alt="">
            <p class="digital-text">{{ aboutus.tr.design }}</p>
        </div>
        <div class="imageandtext col-12 col-md-3 wow fadeInDown" data-wow-delay="0.7s">
            <img src="assets/img/illustration/about-us/server.png" alt="">
            <p class="digital-text">{{ aboutus.tr.server }}</p>
        </div>
    </div>
</div>
<div class="ourCrew d-flex flex-lg-row flex-sm-column flex-column">
    <div class="text-area col-lg-4 col-md-12 col-sm-12">
        <h4 class="title wow fadeInDown">{{ aboutus.tr.team }}</h4>
        <p class="subtitle wow fadeInDown" data-wow-delay="0.1s">{{ aboutus.tr.team_subtitle}}</p></div>
    <div class="staff-slider col-lg-8 col-md-12 col-sm-12 d-flex align-items-center wow fadeInRight" data-wow-delay="0.4s">
        <div><img src="assets/img/personals/cagdas.png" alt=""></div>
        <div><img src="assets/img/personals/melek.png" alt=""></div>
        <div><img src="assets/img/personals/samed.png" alt=""></div>
        <div><img src="assets/img/personals/yusuf.png" alt=""></div>
        <div><img src="assets/img/personals/mesut.png" alt=""></div>
        <div><img src="assets/img/personals/burak.png" alt=""></div>
        <div><img src="assets/img/personals/necip.png" alt=""></div>
        <div><img src="assets/img/personals/turkay.png" alt=""></div>
    </div>
</div>
{% include 'partials/call_to_contact.html' %}
{% include 'partials/footer_bar.html' %}
{% endblock %}
