{% extends "layouts/layout.index.html" %}
{% block content %}

<div class="d-none" id="loader">
    <img class="loader-img" src="../../assets/img/ezgif-3-c10ad3de5c54.gif" alt="">
</div>
<div class="container-fluid d-flex flex-column justify-content-between aboutUs-full">
    {% include 'partials/nav.html' %}
    <div class="row content mt-md-0 mt-sm-5 mt-5">
        <div class="col-md-6 col-sm-12">
            <h4 class="title text-left">Biz Kimiz?</h4>
            <p class="subtitle text-left" id="subtitleSpecial" style="">Hayalleri tasarlayan,<br> Web teknolojileri
                geliştiren,<br> Heyecan dolu <br><b class="descriptive">Bir ekibiz!</b>
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
        </div>
    </div>
    <div class="row" id="redRow">
        <div class="col-md-12" id="redRowitems">
            <div class="main d-none d-lg-block ">
                <p class="comInfo">DAHA FAZLA BİLGİ</p>
                <div class="stick"></div>
            </div>
        </div>
        <div class="container-fluid" id="bottomColor"></div>
        <img id="boyImage" class="" src="../../assets/img/boyimg2.png" alt=""></div>

</div>
<div class="logo-content flex-column flex-md-row">
    <div class="text-block col-12 col-md-4 d-flex flex-column">
        <h4 class="title">Müşterilerimiz</h4>
        <p class="subtitle">Birlikte çalışmaktan onur ve mutluluk duyduğumuz müşterilerimiz.</p></div>
    <div class="main-logo-block col-lg-8 col-md-8 align-content-sm-between d-md-flex col-sm-12">
        <div class="logo-block row d-md-flex d-sm-none">
            <img class="col-3" src="../../assets/img/brands/medyas.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/hamidiye.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/amvg.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/podbia.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/bmsumer.png" alt="">
            <img class="col-3" src="../../assets/img/brands/akilliahtapot.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/pryapim.svg" alt="">
            <img class="col-3" src="../../assets/img/brands/kafeinbox.svg" alt="">
        </div>
        <div class="mobil-logo d-lg-none d-sm-block">
            <div><img class="img-fluid" src="../../assets/img/brands/medyas.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/hamidiye.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/amvg.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/podbia.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/bmsumer.png" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/akilliahtapot.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/pryapim.svg" alt=""></div>
            <div><img class="img-fluid" src="../../assets/img/brands/kafeinbox.svg" alt=""></div>
        </div>
    </div>
</div>
<div class="digital-experience">
    <div class="text-block2">
        <h4 class="title text-center">Dijital Deneyim</h4>
        <p class="subtitle text-center">Son teknoloji ve tasarım yaklaşımlarını kullanan yenilikçi ekibimizle
            sunduğumuz hizmetler.</p>
    </div>
    <div class="imagesMain d-flex flex-column flex-md-row">
        <div class="imageandtext col-12 col-md-3">
            <img class="img-fluid" src="../../assets/img/image1@2x.png" alt="">
            <p class="digital-text">Web ve Mobil Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img class="img-fluid" src="../../assets/img/image2@2x.png" alt="">
            <p class="digital-text">Backend Geliştirme Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img class="img-fluid" src="../../assets/img/image3@2x.png" alt="">
            <p class="digital-text">Grafik Tasarım Hizmetleri</p>
        </div>
        <div class="imageandtext col-12 col-md-3">
            <img class="img-fluid" src="../../assets/img/image4@2x.png" alt="">
            <p class="digital-text">Sunucu Yönetimi ve Bakım Hizmetleri</p>
        </div>
    </div>
</div>
<div class="ourCrew d-flex flex-lg-row flex-sm-column flex-column">
    <div class="text-area col-lg-4 col-md-12 col-sm-12">
        <h4 class="title">Ekibimiz</h4>
        <p class="subtitle">Dijital dünyamızı daha yaşanabilir hale getirmek için yarışan ekibimiz;</p></div>
    <div class="staff-slider col-lg-8 col-md-12 col-sm-12 d-flex align-items-center">
        <div><img class="img-fluid" src="../../assets/img/personals/cagdas.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/melek.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/samed.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/yusuf.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/mesut.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/burak.png" alt=""></div>
        <div><img class="img-fluid" src="../../assets/img/personals/necip.png" alt=""></div>
    </div>
</div>
<div class="callToAction">
    <span><b class="descriptive">Çekinme!</b> Bir şeyler sormak <br>istersen eğer</span>
    <a href="/communication.html">Bize buradan ulaşabilirsin
        <img src="../../assets/img/arrow-right.svg" alt=""></a>
</div>
<div class="footer">

    <div class="social-media d-flex d-md-none">
        <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                src="../../assets/img/instagram.svg"
                alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="../../assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <ul class="pages flex-column flex-md-row">
        <li><a href="/aboutus.html" class="page-items">Hakkımızda</a></li>
        <li><a href="/projects.html" class="page-items">Projlerimiz</a></li>
        <li><a href="/communication.html" class="page-items">İletişim</a></li>
        <li><a href="../../assets/presentation/codeck-sunum.pdf" target="_blank" class="page-items">Şirket Sunumu</a></li>
    </ul>
    <div class="social-media d-none d-md-flex">
        <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                src="../../assets/img/instagram.svg"
                alt=""></a>
        <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                src="../../assets/img/linkedin.svg"
                alt=""></a>
    </div>
    <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

</div>

{% endblock %}
