{% extends "layouts/layout.index.html" %}
{% block content %}


<div id="backgroundImage">
    {% include 'partials/nav.html' %}
    <div class="row">
        <div class="col-12 col-md-12 mt-5 wow fadeInDown" id="communication1">
            <p class="info text-center text-lg-left text-white line-height-1.5"><span class="title wow fadeInDownBig">Sarıyer-Kolektif House</span><br>
                Maslak Mah. Aos 55. Sk. 42 Maslak No: 4 İç Kapı No: 556<br>
                info@codeck.com.tr<br>
                +90 (212) 242 36 24</p>
            <div class="buttons d-flex justify-content-center justify-content-lg-start">
                <a target="_blank"
                   href="https://www.google.com.tr/maps/place/Kolektif+House+Maslak/@41.1123195,29.0192814,18.5z/data=!4m5!3m4!1s0x14cab5a10e9dca99:0x61175a3501778!8m2!3d41.112412!4d29.019664?hl=tr">
                    <div class="button pt-3 text-white wow fadeInLeft" data-wow-delay="0.2s">Adres Tarifi Al</div>
                </a>
                <a href="tel:+90 (212) 242 36 24">
                    <div class="button pt-3 ml-3 text-white wow fadeInLeft" data-wow-delay="0.3s">Hemen Ara</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 mt-5 wow fadeInDown" id="communication2">
                <p class="info text-center text-lg-right text-white"><span class="title2">Sarıyer-Merkez</span><br>
                    Yeni mahalle caddesi, No. 9,Kat 3,Daire 3<br>
                    info@codeck.com.tr<br>
                    +90 (544) 565 18 85</p>
                <div class="buttons d-flex justify-content-lg-end justify-content-center">
                    <a target="_blank"
                       href="https://www.google.com.tr/maps/place/Yeni+mahalle+caddesi,+No.+9,Kat+3,Daire+3/@41.1686058,29.056818,16.21z/data=!4m13!1m7!3m6!1s0x409fdfe2e80c0d8b:0xd402ea0305c66b57!2sMerkez,+Yeni+Mahalle+Cd+No:9+D:Kat+3,Daire+3,+34450+Sar%C4%B1yer%2F%C4%B0stanbul!3b1!8m2!3d41.168328!4d29.0570984!3m4!1s0x409fdfe2e80c0d8b:0xd402ea0305c66b57!8m2!3d41.168328!4d29.0570984?hl=tr">
                        <div class="text-white button wow fadeInRight" data-wow-delay="0.3s">Adres Tarifi Al</div>
                    </a>
                    <a href="tel:+90 (544) 565 18 85">
                        <div class="button ml-3 text-white wow fadeInRight" data-wow-delay="0.2s">Hemen Ara</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
