{% extends "layouts/layout.index.html" %}
{% block content %}


<section class="communication">
    {% include 'partials/nav.html' %}
    <div class="info flex-grow-1 align-items-center align-items-lg-start">
        <h1 class="text-center text-lg-left wow fadeInLeft" data-wow-delay="0.2">Sarıyer - Kolektif House</h1>
        <h2 class="text-center text-lg-left wow fadeInLeft" data-wow-delay="0.3s">Maslak Mah. Aos 55. Sk. 42 Maslak No: 4 İç Kapı No: 556</h2>
        <a class="text-center text-lg-left wow fadeInLeft" data-wow-delay="0.4s" href="mailto:info@codeck.com.tr">info@codeck.com.tr</a>
        <a class="text-center text-lg-left wow fadeInLeft" data-wow-delay="0.5s" href="tel:+90 (212) 242 36 24">+90 (212) 242 36 24</a>
        <div class="buttons d-flex justify-content-center justify-content-lg-start">
            <a target="_blank"
               href="https://www.google.com.tr/maps/place/Kolektif+House+Maslak/@41.1123195,29.0192814,18.5z/data=!4m5!3m4!1s0x14cab5a10e9dca99:0x61175a3501778!8m2!3d41.112412!4d29.019664?hl=tr">
                <div class="button pt-3 text-white wow fadeInLeft" data-wow-delay="0.5s">{{
                    communication.tr.directions }}
                </div>
            </a>
            <a href="tel:+90 (212) 242 36 24">
                <div class="button pt-3 ml-3 text-white wow fadeInLeft" data-wow-delay="0.6s">{{
                    communication.tr.call_now }}
                </div>
            </a>
            <a href="tel:+905445651885">
                <div class="button pt-3 ml-3 text-white wow fadeInLeft" data-wow-delay="0.6s">+90 544 565 18 85</div>
            </a>
        </div>
    </div>
    <div class="info align-items-center align-items-lg-end">
        <div class="transparent-layer"></div>
        <div class="com-end-layer">
            <h1 class="wow fadeInRight" data-wow-delay="0.3s">Sarıyer - Merkez</h1>
            <h2 class="wow fadeInRight" data-wow-delay="0.4s">Yeni mahalle caddesi, No. 9, Kat 3, Daire 3</h2>
            <a class="wow fadeInRight" data-wow-delay="0.5s" href="mailto:info@codeck.com.tr">info@codeck.com.tr</a>
            <a class="wow fadeInRight" data-wow-delay="0.5s" href="tel:‭+90 (544) 565 18 85‬">+90 (212) 242 36 24</a>
            <div class="buttons d-flex justify-content-center justify-content-lg-start">
                <a target="_blank"
                   href="https://www.google.com.tr/maps/place/Yeni+Mahalle+Cd,+Sar%C4%B1yer%2F%C4%B0stanbul/@41.1686671,29.0558088,17z/data=!4m5!3m4!1s0x409fdfe3ce99e8bd:0x904abada6edca647!8m2!3d41.1686617!4d29.057382?hl=tr">
                    <div class="button pt-3 text-white wow fadeInRight" data-wow-delay="0.5s">{{
                        communication.tr.directions }}
                    </div>
                </a>
                <a href="tel:+90 (212) 242 36 24">
                    <div class="button pt-3 ml-3 text-white wow fadeInRight" data-wow-delay="0.6s">{{
                        communication.tr.call_now }}
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

{% endblock %}
