{% extends "layouts/layout.index.html" %}
{% block content %}

<div id="home-page" class="fullpage">
    <section class="section">
        <div class="d-flex flex-column justify-content-between full-height">
            {% include 'partials/nav.html' %}
            <div class="d-block d-sm-block d-lg-flex d-md-flex content flex-column flex-md-row">
                <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1 class="typedTitle wow fadeInDown">
                        Yeniyiz, <br>
                        <b class="descriptive">Birlikteyiz</b> Buradayız.
                    </h1>
                    <h3 class="subtitle wow fadeInDown" data-wow-delay="0.4s">
                        Teknolojinin getirdiği imkanları ve kolaylıkları çevremize sunabilmek için <b class="descriptive">çalışıyoruz</b>.
                    </h3>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="space d-flex justify-content-end wow fadeInRight" data-wow-delay="1s">

                        <div id="spaceanimation"></div>
                        <!-- <img class="img-fluid space" src="assets/img/illustration/home/spaceElement.svg" alt="Space"> -->
                    </div>
                </div>
            </div>
            <div class="d-flex content d-flex flex-column">
                <div class="flex-column">
                    <h4 class="title first-title wow fadeInDown secondary mb-2 wow fadeInDown" data-wow-delay="1.3s">
                        {{ home.tr.what_do_we_do}}
                    </h4>
                    <div class="works mb-4 wow fadeInDown" data-wow-delay="1.4s">
                        <a href="/projects.html?filter=web">Web</a>
                        <a href="/projects.html?filter=mobile">Mobil</a>
                        <a href="/projects.html?filter=design">Grafik Tasarım</a>
                    </div>
                </div>
                <div class="d-lg-block stick-black">
                    <p class="comInfo wow fadeInDown" data-wow-delay="1.7s">PROJELERİMİZ</p>
                    <div class="stick wow fadeInDown" data-wow-delay="1.7s"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/ahtapot-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.ahtapot.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.ahtapot.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.ahtapot.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.ahtapot.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.ahtapot.tr.link }}" style="color:#AA0BFF">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right  p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/ahtapot-logo-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/ahtapot.svg')"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/hamidiye-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.hamidiye.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.hamidiye.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.hamidiye.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.hamidiye.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
                    <a target="_blank" href="{{ projects.hamidiye.tr.link }}" style="color:#E52A7E">Projeyi İncele</a>
                </span>
            </div>
            <div class="content-right  p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/hamidiye-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/hamidiye1@2x.png')"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/podbia-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.podbia.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.podbia.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.podbia.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.podbia.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
                    <a target="_blank" href="{{ projects.podbia.tr.link }}" style="color:#FD0069">Projeyi İncele</a>
                </span>
            </div>
            <div class="content-right  p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/podbia-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/pannom1@2x.png')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image" id="mockup">
                    <img id="b-mockup" src="assets/img/mockups/white-mockup.png" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.bmsumer.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.bmsumer.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.bmsumer.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.bmsumer.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.bmsumer.tr.link }}" style="color:#1C7EDD">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/bmsumer-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/bmsumer1@2x.png')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/gorselco-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.gorselco.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.gorselco.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.gorselco.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.gorselco.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.gorselco.tr.link }}" style="color:#E74C3C">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/gorselco.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/gorselco.svg')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image" id="musavir">
                    <img class="img-fluid" src="assets/img/svg/logo/musavir-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.musavir.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.musavir.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.musavir.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.musavir.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.musavir.tr.link }}" style="color:#225CFF">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/musavirlogo.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/musavir.svg')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/mockups/kafeinbox-model.png" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.kafeinbox.tr.title }}</h4>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.kafeinbox.tr.description
                    }}</p>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s"></p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.kafeinbox.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.kafeinbox.tr.link }}" style="color:#EA2E32">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/kafeinbox-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/kafeinbox1@2x.png')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/adekstra-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.adekstra.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.adekstra.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.adekstra.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.adekstra.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.adekstra.tr.link }}" style="color:#225CFF">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/adekstra-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/adekstra.svg')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/iciniz-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.iciniz.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.iciniz.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.iciniz.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.iciniz.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
            <a target="_blank" href="{{ projects.iciniz.tr.link }}" style="color:#F2B231">Projeyi İncele</a>
        </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/white/iciniz-white.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/iciniz-illustration@2x.png')">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="projects flex-row d-flex justify-content-between flex-column flex-md-row">
            <div class="content content-center d-flex flex-column justify-content-center col-md-6">
                <div class="cover-image">
                    <img class="img-fluid" src="assets/img/svg/logo/gitmeden-icon.svg" alt="">
                </div>
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.gitmeden.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.gitmeden.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.gitmeden.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.gitmeden.tr.tags }}</span>
                <span class="see-project col-lg-6 d-flex wow fadeInDown" data-wow-delay="0.8s">
                    <a target="_blank" href="{{ projects.gitmeden.tr.link }}" style="color:#F16721">Projeyi İncele</a>
                </span>
            </div>
            <div class="content-right p-0 d-flex justify-content-center col-md-6">
                <img src="assets/img/brands/gitmeden-logo.svg" class="white-brand" alt="">
                <div class="illustration-bg"
                     style="background-image:url('assets/img/illustration/home/gitmeden-illustration@2x.png')">
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
