{% extends "layouts/layout.index.html" %}
{% block content %}

{% include 'partials/nav.html' %}

<section id="project-page" class="mt-5">
    <div id="buttons" class="content mb-5">
        <button class="btn btn-active" onclick="filterSelection('all')">Tüm Projelerimiz</button>
        <button class="btn" onclick="filterSelection('web')"> Web Uygulamaları</button>
        <button class="btn" onclick="filterSelection('mobile')"> Mobil Uygulama</button>
        <button class="btn" onclick="filterSelection('graphic')"> Grafik Tasarım</button>
    </div>
    <div class="container-fluid">
        <div class="mb-2 wow filterDiv web mobile content pb-md-5 pb-sm-3 flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Akıllı Ahtapot</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Anında SGK teşvik ve prim hesaplama
                    otomasyonu</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">marka,kurumsal kimlik,otomasyon hizmetleri</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="../../assets/img/big/ahtapot1.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/ahtapot1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/ahtapot2.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/ahtapot2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/ahtapot3.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/ahtapot3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/ahtapot4.png" data-fancybox="gallery" >
                        <img class="img-fluid" src="../../assets/img/projects/ahtapot4.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="filterDiv stickBetween"></div>
        <div class="mb-2 wow filterDiv graphic content pb-md-5 pb-sm-3 flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Hamidiye</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Bayi uygulamaları, kullanıcı uygulamaları ve
                    web uygulamaları</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">mobil uygulama, haritalandırma, kullanıcı deneyimi</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="../../assets/img/big/hamidiye1.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/hamidiye1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/hamidiye2.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/hamidiye2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/hamidiye3.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/hamidiye3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/hamidiye4.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/hamidiye4.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv mobile content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Bmsumer</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Backend geliştirme, Mobil Uygulama ve tasarım
                    geliştirmeleri</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">mailing, backend, tasarım, kullanıcı deneyimi</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="../../assets/img/big/bmsumer1.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/bmsumer1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/bmsumer2.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/bmsumer2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/bmsumer3.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/bmsumer3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../assets/img/big/bmsumer4.png" data-fancybox="gallery">
                        <img class="img-fluid" src="../../assets/img/projects/bmsumer4.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
    </div>
    <div class="callToAction">
        <span><b class="descriptive">Çekinme!</b> Bir şeyler sormak <br>istersen eğer</span>
        <a href="/communication.html">Bize buradan ulaşabilirsin
            <img src="../../assets/img/arrow-right.svg" alt=""></a>
    </div>
    <div class="footer">

        <div class="social-media d-flex d-md-none">
            <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                    src="../../assets/img/instagram.svg"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                    src="../../assets/img/linkedin.svg"
                    alt=""></a>
        </div>
        <ul class="pages flex-column flex-md-row">
            <li><a href="/aboutus.html" class="page-items">Hakkımızda</a></li>
            <li><a href="/projects.html" class="page-items">Projlerimiz</a></li>
            <li><a href="/communication.html" class="page-items">İletişim</a></li>
            <li><a href="../../assets/presentation/codeck-sunum.pdf" target="_blank" class="page-items">Şirket Sunumu</a></li>
        </ul>
        <div class="social-media d-none d-md-flex">
            <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                    src="../../assets/img/instagram.svg"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                    src="../../assets/img/linkedin.svg"
                    alt=""></a>
        </div>
        <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

    </div>
</section>


{% endblock %}
