{% extends "layouts/layout.index.html" %}
{% block content %}

{% include 'partials/nav.html' %}

<section id="project-page" class="mt-5">
    <div id="buttons" class="content mb-5">
        <button class="btn btn-active" onclick="filterSelection('all')">{{ projects.main.tr.all}}</button>
        <button id="web" class="btn" onclick="filterSelection('web')">{{ projects.main.tr.web}}</button>
        <button id="mobile" class="btn" onclick="filterSelection('mobile')">{{ home.tr.mobile}}</button>
        <button id="design" class="btn" onclick="filterSelection('graphic')">{{ projects.main.tr.graphic}}</button>
        <button id="ours" class="btn" onclick="filterSelection('ours')">{{ projects.main.tr.belong_to_us}}</button>
    </div>
    <div class="container-fluid">
        <div class="mb-2 wow filterDiv web mobile graphic content pb-md-5 pb-sm-3 flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.ahtapot.tr.title }}</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">{{ projects.ahtapot.tr.subtitle }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.ahtapot.tr.description
                    }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.ahtapot.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="https://siparis.hamidiye.istanbul/">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/ahtapot1.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot2.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot3.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot4.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot5.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot6.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot7.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot8.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot8.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/ahtapot9.png" data-fancybox="ahtapot">
                        <img class="img-fluid" src="assets/img/projects/small/ahtapot9.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="filterDiv stickBetween"></div>
        <div class="mb-2 wow filterDiv web mobile content pb-md-5 pb-sm-3 flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.hamidiye.tr.title }}</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">{{ projects.hamidiye.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.hamidiye.tr.description }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.hamidiye.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="https://siparis.hamidiye.istanbul/">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/hamidiye5.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye1.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye2.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye3.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye4.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye6.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye7.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye8.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye8.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye9.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye9.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye10.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye10.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye11.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye11.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/hamidiye12.png" data-fancybox="hamidiye">
                        <img class="img-fluid" src="assets/img/projects/small/hamidiye12.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv mobile web content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.bmsumer.tr.title }}</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">{{ projects.bmsumer.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.bmsumer.tr.description }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.bmsumer.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank" href="#">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/bmsumer1.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer5.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer6.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer7.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer7.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer2.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer8.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer8.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer9.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer9.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer10.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer10.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer11.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer11.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer3.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/bmsumer4.png" data-fancybox="bmsumer">
                        <img class="img-fluid" src="assets/img/projects/small/bmsumer4.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv ours web graphic content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.podbia.tr.title }}</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">{{ projects.podbia.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.podbia.tr.description }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.podbia.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="http://podbia.com">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/podbia5.png" data-fancybox="podbia">
                        <img class="img-fluid" src="assets/img/projects/small/podbia5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/podbia3.png" data-fancybox="podbia">
                        <img class="img-fluid" src="assets/img/projects/small/podbia2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/podbia2.png" data-fancybox="podbia">
                        <img class="img-fluid" src="assets/img/projects/small/podbia3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/podbia4.png" data-fancybox="podbia">
                        <img class="img-fluid" src="assets/img/projects/small/podbia4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/podbia1.png" data-fancybox="podbia">
                        <img class="img-fluid" src="assets/img/projects/small/podbia1.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv ours web graphic content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.gorselco.tr.title }}</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">{{ projects.gorselco.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.gorselco.tr.description }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.gorselco.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="http://podbia.com">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/gorselco1.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco2.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco3.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco4.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco5.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco6.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/gorselco7.png" data-fancybox="gorselco">
                        <img class="img-fluid" src="assets/img/projects/small/gorselco7.png" alt="">
                    </a>
                </div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv ours web graphic content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.iciniz.tr.title }}</h4>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s">{{ projects.iciniz.tr.subtitle
                    }}</p>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.iciniz.tr.description }}</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.iciniz.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="http://iciniz.com">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/big/iciniz5.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz2.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz3.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz4.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz6.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz7.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz8.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz8.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz9.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz9.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz10.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz10.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz11.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz11.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz12.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz12.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz13.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz13.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/big/iciniz14.png" data-fancybox="iciniz">
                        <img class="img-fluid" src="assets/img/projects/small/iciniz14.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv ours web graphic content pb-md-5 pb-sm-3 flex-lg-row flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">{{ projects.kafeinbox.tr.title }}</h4>
                <p class="description-small wow fadeInDown" data-wow-delay="0.5s">{{ projects.kafeinbox.tr.description }}</p>
                <p class="subtitle wow half-title fadeInDown" data-wow-delay="0.4s"></p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">{{ projects.kafeinbox.tr.tags }}</span>
                <pre class="primaryFont mt-2 wow fadeIn" data-wow-delay="0.5s"><a target="_blank"
                                                                                  href="http://iciniz.com">{{ home.tr.view_project }}</a></pre>
            </div>
            <div class="projectImages wow fadeInLeft col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="assets/img/projects/kafeinbox/big/kafeinboxss-1.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/kafeinboxss-1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/kafeinboxss-2.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/kafeinboxss-2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/kafeinboxss-3.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/kafeinboxss-3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/kafeinboxss-4.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/kafeinboxss-4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/kafeinboxss-5.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/kafeinboxss-5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/14.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/14.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/15.png" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/15.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/1.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/2.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/3.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/4.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/4.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/5.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/5.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/6.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/6.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/7.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/7.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/8.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/8.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/9.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/9.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/10.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/10.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/11.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/11.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="assets/img/projects/kafeinbox/big/12.jpg" data-fancybox="kafeinbox">
                        <img class="img-fluid" src="assets/img/projects/kafeinbox/12.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
    </div>
    {% include 'partials/call_to_contact.html' %}
    {% include 'partials/footer_bar.html' %}
</section>


{% endblock %}
