{% extends "layouts/layout.index.html" %}
{% block content %}

{% include 'partials/nav.html' %}

<section class="mt-5">
    <div id="buttons" class="content mb-5">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('web')"> Cars</button>
        <button class="btn" onclick="filterSelection('mobile')"> Animals</button>
        <button class="btn" onclick="filterSelection('graphic')"> Fruits</button>
    </div>
    <div class="container-fluid">
        <div class="mb-2 wow filterDiv web mobile content flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Akıllı Ahtapot</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Anında SGK teşvik ve prim hesaplama
                    otomasyonu</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">marka,kurumsal kimlik,otomasyon hizmetleri</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot1.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot2.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot3.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot4.png" alt=""></div>
            </div>
        </div>
        <div class="filterDiv stickBetween"></div>
        <div class="mb-2 wow filterDiv graphic content flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Akıllı Ahtapot</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Anında SGK teşvik ve prim hesaplama
                    otomasyonu</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">marka,kurumsal kimlik,otomasyon hizmetleri</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot1.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot2.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot3.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot4.png" alt=""></div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv mobile content flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Akıllı Ahtapot</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Anında SGK teşvik ve prim hesaplama
                    otomasyonu</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">marka,kurumsal kimlik,otomasyon hizmetleri</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot1.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot2.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot3.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot4.png" alt=""></div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
        <div class="wow filterDiv graphic content flex-lg-row flex-md-column flex-sm-column flex-column align-items-center">
            <div class="projectTexts col-lg-4 col-md-12 col-sm-12">
                <h4 class="title wow fadeInDown" data-wow-delay="0.2s">Akıllı Ahtapot</h4>
                <p class="subtitle wow fadeInDown" data-wow-delay="0.4s">Anında SGK teşvik ve prim hesaplama
                    otomasyonu</p>
                <span class="tags wow fadeInDown"
                      data-wow-delay="0.6s">marka,kurumsal kimlik,otomasyon hizmetleri</span>
            </div>
            <div class="projectImages col-lg-8 col-md-12 col-sm-12">
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot1.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot2.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot3.png" alt=""></div>
                <div><img class="img-fluid" src="../../assets/img/projects/ahtapot4.png" alt=""></div>
            </div>
            <!--        <div class="stickBetween mt-lg-5 mt-sm-2"></div>-->
        </div>
        <div class="mb-2 filterDiv stickBetween"></div>
    </div>
    <div class="callToAction">
        <span><b class="descriptive">Çekinme!</b> Bir şeyler sormak <br>istersen eğer</span>
        <a href="">Bize buradan ulaşabilirsin
            <img src="../../assets/img/arrow-right.svg" alt=""></a>
    </div>
    <div class="footer">

        <div class="social-media d-flex d-md-none">
            <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                    src="../../assets/img/instagram.svg"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                    src="../../assets/img/linkedin.svg"
                    alt=""></a>
        </div>
        <ul class="pages flex-column flex-md-row">
            <li><a href="" class="page-items">Hakkımızda</a></li>
            <li><a href="" class="page-items">Projlerimiz</a></li>
            <li><a href="" class="page-items">İletişim</a></li>
            <li><a href="" class="page-items">Blog</a></li>
        </ul>
        <div class="social-media d-none d-md-flex">
            <a href="" class="linkimages"><img src="../../assets/img/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/codeckistanbul/" class="linkimages"><img
                    src="../../assets/img/instagram.svg"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/codeck/about/" class="linkimages"><img
                    src="../../assets/img/linkedin.svg"
                    alt=""></a>
        </div>
        <div class="privacy">© 2020 Codeck Tüm Hakları Saklıdır</div>

    </div>

</section>


{% endblock %}