
.button, #button
  transition: 0.8s cubic-bezier(0, 0.38, 0, 1)

.button:hover
  background-color: #e22000
  color: white
  transform: scale(1.2) translate(20px, 0)
  margin-right: 40px

a#button:hover
  transform: scale(1.2) translate(30px, 0)

#button
  width: 300px
  height: 60px
  display: flex
  background: rgba(255, 255, 255, 0.3)
  margin-top: 50px
  border-radius: 30px

#buttonText
  color: #fff
  text-align: center
  font-family: "Roboto", sans-serif
  font-size: 18px

.button-inner
  width: 50px
  position: relative
  height: 50px
  top: 5px
  left: 5px
  border-radius: 50%
  background: #fff


a:hover
  text-decoration: none


.button
  background: rgba(255, 255, 255, 0.3)
  border-radius: 10px
  padding: 20px 40px
  font-size: 19px

#button2, #button4
  width: 190px

.topSide
  display: flex
  flex-direction: column
  justify-content: space-between

section
  background-image: url("../img/communication/background.png")
  background-size: cover

.info
  display: flex
  flex-direction: column

  a
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    margin: 0


  h1
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    font-weight: 600
    margin: 0
  h2
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    margin: 0


.infoBlock2
  display: flex
  justify-content: flex-end

.info2
  display: flex
  flex-direction: column

  a
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    margin: 0
    text-align: right


  h1
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    font-weight: 600
    margin: 0
    text-align: right
  h2
    font-family: $secondary-font
    font-size: 30px
    color: #ffffff
    margin: 0
    text-align: right

#buttonsDown
  justify-content: flex-end!important


.mainDiv
  height: 100vh


