$secondary-font: Roboto, sans-serif
$primary-color: #E22000

.title-text
  font-weight: bold
  font-size: 40px
  line-height: 100%
  font-family: $secondary-font
  display: block

.main
  position: absolute
  bottom: 0
  z-index: 1

.headTextRight
  flex: 5
  display: flex
  text-align: right
  align-items: center
  font-weight: 100

.headTextTitle
  font-weight: 600

#title-text-span
  color: $primary-color
  padding: 0 12px

.mediaIcons
  margin: 0 5px

.button, #button
  transition: 0.8s cubic-bezier(0, 0.38, 0, 1)

.button:hover
  background-color: $primary-color
  color: white
  transform: scale(1.2) translate(20px, 0)
  margin-right: 40px

#redRow
  height: 300px
  background: $primary-color
  position: relative
  display: flex
  justify-content: flex-end

#button
  width: 60px
  height: 60px
  display: flex
  background: rgba(255, 255, 255, 0.3)
  margin-top: 50px
  border-radius: 30px

#buttonText
  color: #fff
  text-align: center
  font-family: $secondary-font
  font-size: 18px

.button-inner
  width: 50px
  position: relative
  height: 50px
  top: 5px
  left: 5px
  border-radius: 50%
  background: #fff

.text-area
  display: flex
  align-items: flex-start
  flex-direction: column
  justify-content: center

.headText
  font-weight: 300
  margin: 0
  font-family: $secondary-font
  font-size: 27px

#headTextSpecial
  flex: 5
  padding-right: 150px

#backgroundImage
  background-size: cover
  background-image: url(../img/communication/background.png)
  position: absolute
  width: 100%
  background-position: center
  height: 100%

#boyColumn
  height: 45%
  right: 0

#boyImage
  max-width: 45%
  max-height: 400px
  bottom: 0
  position: absolute

.button-img
  position: relative
  top: 6px
  left: 5px

a:hover
  text-decoration: none
  color: unset

.crew-title
  font-weight: 500

.info
  font-size: 20px
  font-weight: 200

.button
  background: rgba(255, 255, 255, 0.3)
  border-radius: 10px
  padding: 20px 40px
  font-size: 19px

#button2, #button4
  width: 190px

#emptyLine
  height: 100px
  background: white

#communication1
  position: absolute
  top: 8%
  padding: 0 80px

#communication2
  position: absolute
  right: 0
  bottom: 10%
  padding: 0 80px

#redRowitems
  padding: 0 0 80px 80px

#mainContent
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: space-between

#mainContentinner
  padding: 50px 80px 0 80px

a:hover
  text-decoration: none
  color: unset

#bottomColor
  height: 10%
  position: absolute
  bottom: 0
  background: #D11E00

#titleMain
  padding: 80px

.loader-img
  position: absolute
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 30vw
  height: auto

#loader
  background: #fff
  position: absolute
  z-index: 2
  align-content: flex-end
  flex-direction: row
  display: block
  width: 100%
  height: 100vh

.title2, .title
  font-family: all-round-gothic, sans-serif
  font-weight: 600

.stick
  height: 50px
  width: 2px
  background: #fff

.staff
  justify-content: flex-end
  height: 310px
  padding: 0
  align-items: center

.ourCrew
  display: flex
  justify-content: flex-start
  padding: 130px 80px

.comInfo
  font-size: 18px
  color: #fff

.crew-text
  font-size: 38px
  font-weight: 200

.main
  position: absolute
  bottom: 0
  z-index: 1

.bottomBlock
  display: flex
  flex-direction: column

.bottomText
  font-size: 58px
  text-align: center
  color: #030303
  margin: 0
  padding: 0

.bottomTextLink
  text-align: center
  color: #030303
  display: flex
  flex-direction: column

.bottomRed
  color: $primary-color

.images
  max-height: 55%



.text-block
  display: flex
  flex-direction: column
  align-content: center
  padding: 0
  justify-content: center

.text
  padding-right: 50px
  font-size: 36px
  font-weight: 300
  line-height: 48px

.logo-content
  display: flex
  padding: 130px 80px

.digital-experience
  display: flex
  flex-direction: column
  align-items: center
  padding: 130px 80px

.headTextSpan
  color: $primary-color
  font-weight: bold

.digital-text
  font-size: 21px
  padding: 24px
  text-align: center

.digital-images
  width: 100%

.digital-title
  font-weight: 500
  text-align: center

#digital-title2
  font-size: 35px
  padding: 25px 70px
  text-align: center
  font-weight: 200

.footer
  background-color: $primary-color
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 10px

.pages
  list-style: none
  display: flex
  margin: 8px 0
  padding: 0 30px

.page-items
  color: #ffffff
  font-size: 13px
  padding-right: 20px

.privacy
  color: #ffffff
  padding: 0 30px
  font-size: 14px

.linkimages
  padding: 0 5px

.social-media
  padding-right: 40px

.hamburger-menu
  width: 40px
  height: 4px
  background-color: $primary-color

#hamburgerMenu
  width: 20px

@media screen and (min-width: 1500px)
  .info
    font-size: 30px

  .headTextRight
    align-items: flex-end

@media screen and (max-width: 768px)
  body
    overflow-x: hidden !important

  .headText
    font-weight: 300
    margin: 0
    font-family: $secondary-font
    font-size: 25px

  #boyImage
    max-width: 100%

  #button
    position: absolute
    z-index: 1
    bottom: 5%
    background-color: rgba(255, 255, 255, 0.8)
    font-weight: bold

  #buttonText
    color: #333

  .digital-text
    font-size: 24px
    padding: 20px
    text-align: center

  #codeckimg
    min-width: 180px

  #textitem1
    font-size: 50px
    margin: 0
    line-height: 50px
    font-weight: 100

  #textitem2
    font-size: 30px
    margin: 0

  #title-text-span
    color: $primary-color
    padding: 0 12px
    font-size: 47px
    margin-bottom: 6px

  .info
    font-size: 18px

  .social-media
    padding: 0

  .pages
    padding: 0
    text-align: center

  .button
    font-size: 15px
    padding: 15px 34px

  #button2, #button4
    padding-left: 32px

  #emptyLine
    height: 80px

  #communication1
    padding: 0
    top: 4%

  #redRowitems
    display: flex
    justify-content: center
    padding: 0

  #communication2
    padding: 0
    bottom: 9%

  .logo-content
    display: flex
    text-align: left
    align-items: center
    padding: 30px


  #titleMain
    padding: 0

  .page-items
    padding: 0


  #mainContentinner
    padding: 50px 20px 0 0

  #redRow
    height: 250px
    justify-content: center

  #textitem3
    font-size: 30px
    padding-left: 10px
    margin-bottom: 5px

  .title-text
    font-weight: bold
    text-align: center
    font-size: 40px
    line-height: 100%
    display: flex
    flex-direction: column
    font-family: $secondary-font
    padding: 50px

  #headTextSpecial
    padding: 0

  .headTextRight
    flex: 12
    display: flex
    text-align: left
    align-items: center
    font-weight: 100
    padding: 15px

  .digital-experience
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px

  .digital-title
    font-weight: 500
    text-align: left

  #digital-title2
    font-size: 23px
    padding: 25px 3px
    text-align: left
    font-weight: 200

  .imageandtext
    margin-top: 50pt

  .ourCrew
    display: flex
    justify-content: flex-start
    padding: 80px 0 80px 0
    flex-direction: column

  .images
    max-height: 230px

  .staff
    justify-content: flex-end
    height: 310px
    padding: unset
    align-items: center
    flex-direction: column

  .crew-text
    font-size: 26px
    text-align: left
    font-weight: 200

  .text-area
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: 22px
    justify-content: center

  .bottomText
    font-size: 27px

  .headText
    text-align: left

  .footer
    display: flex
    flex-direction: column